/* * {
    box-sizing: border-box;
    outline: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
  }

  .main {
    border: 1px;
  }

  .strike {
    text-decoration: line-through;
    color: darkgray;
    list-style-type: none;
  } */

  /* Estilo base para a lista e itens */
  /* Estilo base para a lista e itens */

 /* body {
  max-width: 600px;
 } */
body {
  background-color: #e0e0e0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 300px;
}

.tarefa {
  display: flex;
  justify-content: space-between; /* Alinha os itens ao longo do eixo horizontal */
  align-items: center; /* Alinha os itens ao longo do eixo vertical */
  padding: 8px; /* Ajusta o padding dos itens para ser mais compacto */
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  background-color: rgb(249, 212, 212);
}

.tarefa:last-child {
  border-bottom: none; /* Remove a borda do último item da lista */
}

/* Estilo para os botões */
button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px; /* Ajusta o padding dos botões */
  font-size: 12px; /* Ajusta o tamanho da fonte dos botões */
  cursor: pointer;
  margin-left: 4px; /* Adiciona espaço entre os botões */
}

/* Estilo para o botão "Apagar" */
.delete {
  background-color: #ff4d4d;
  color: white;
}

.delete:hover {
  background-color: #e60000;
}

/* Estilo para o botão "Riscar" */
.st {
  background-color: #4d94ff;
  color: white;
}

.st:hover {
  background-color: #0059b3;
}

/* Estilo para o texto riscado */
.strike {
  text-decoration: line-through;
  color: #000000;
  background-color: #c9fecd;
  border: 2px, dotted, rgb(2, 99, 5);
}